.bottom__content{
    display: grid;
    grid-auto-flow: column;
    height: 12%;
    align-items: center;
}
.bottom__content > div >img{
    width: 35px;
    height: 35px;
    justify-self: center;
}