.Topbar{
    /* background-color: rgb(53, 53, 53); */
    background-color: rgb(169, 174, 199);
    width: 100%;
    height: 20px;
}
.Topbar > img{
    width: 17px;
    height: 17px;
    margin-left: 3px;
}