.topmenu__frame{
    display: grid;
    grid-auto-flow: column;
    height: 8%;
    background-color: bisque;
    font-family: "야놀자_야체_Regular";
}
.topmenu__title{
    align-self: center;
    justify-self: left;
    margin-left: 10%;
}
.topmenu__subfunc{
    display: grid;
    grid-auto-flow: column;
    align-content: space-around;
    justify-items: center;
    & > img {
        width: 15px;
        height: 15px;
    }
}