.profile__form {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-template-columns: 20% 40% 40%;
    background-color: #ffffff;
    height: 12%;
}
.profile__form > .profile__image {
    justify-self: center;
    img {
        width: 20px;
        height: 20px;
    }
}

.profile__form > .profile__name {
    justify-self: left;
}
.profile__form > .profile__message {
    justify-self: right;
    margin-right: 10%;
    // direction: rtl;
}